/*
	Several CSS sections will be added from activity 5
*/

header > h1 {
  color: darkblue;
}

body > form {
	margin: 2em;
}

/*  This styling sets up the flex container */
.flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.wrapper {
  display: flex;
}

.wrapper > * {
  border: 1px black solid;
}
.wrapper {
  display: grid;
  margin-top: 50px;
  grid-template: repeat(2, 50px) / 200px 50px 100px;
}
.item1 {
  background-color: aquamarine;
  grid-column-start: 1;
  grid-column-end: 3;
}
.item2 {
  background-color: yellow;
}
.item3 {
  background-color: aqua;
  grid-row-start: 2;
  grid-row-end: 4;
}
.item4 {
  background-color: violet;
  grid-column-start: 2;
  grid-column-end: 4;
}
.item5 {
  background-color: greenyellow;
}
.item6 {
  background-color: orange;
}

/* this adds a border around the flex items */
.flex > * {
  border: 1px solid;
}


/* Activity 5.2.1: Media queries
  -Add CSS that removes the border around the flex items */
@media print {
  .flex > * {
    border: none;
  }
}

/* Activity 5.2.2: Media queries
  -Add CSS for when screen size is less than 700px */

@media (max-width: 700px) {
  .flex {
    flex-direction: column;
  }
}


/* Activity 5.2.3: Media queries
  -Add CSS that checks for device hover capabilities */

@media (hover: hover) {
  content :hover {
    color: red;
  }
}

@media (min-width: 2000px) {
  * {
    color:orange;
  }
}
